*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #192232;
    color: white;
}

.header{
    min-height: 20vh;
    width: 100%;
    background-color: #25354C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    .logo{
        font-size: 3rem;
        padding-bottom: 1rem;
        @media screen and (max-width:570px){
            font-size: 2rem;
        }
        a{
            color: #fff;
            font-family: 'Lobster', cursive;
            letter-spacing: 2px;
        }
    }
}

.search-form{
    width: 30%;
    @media screen and (max-width:1300px) {
        width: 40%;
    }
    @media screen and (max-width:950px) {
        width: 50%;
    }
    @media screen and (max-width:760px) {
        width: 60%;
    }
    @media screen and (max-width:630px) {
        width: 70%;
    }
    @media screen and (max-width:480px) {
        width: 80%;
    }
}
.input-control{
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    
    input{
        width: 80%;
        padding: .4rem 1rem;
        font-size: 1.5rem;
        border: none;
        outline: none;
        border-radius: 25px;
        transition: all .4s ease-in-out;
        background-color: #192232;
        color: white;
        @media screen and (max-width:480px) {
            width: 80%;
            font-size: 1rem;
        }
        &:focus, :active{
            width: 100%;
        }
    }
    button{
        position: absolute;
        height: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        background: transparent;
        margin-left: -3rem;
        background-color: #192232;
        padding: 0 1rem;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        img{
            height: 20px;
        }
    }
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-row-gap: 6rem;
    grid-column-gap: 1.2rem;
    padding: 0 6rem;
    @media screen and (max-width:580px){
        padding: 0 2rem;
    }
    @media screen and (max-width:390px){
        padding: 0 .1rem;
    }
    .gallery{
        background-color: #25354C;
        height: 100%;
        .image-holder{
            height: 100%;
        }
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        .profile{
            background-color: #25354C;
            margin-top: -.5rem;
            padding: 1.5rem .5rem;
            display: flex;
            justify-content: space-between;
            a{
                position: relative;
                font-size: 1.3rem;
                &:nth-child(1){
                    color: #fff;
                }
            }
        }
    }
}

.view{
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    button{
        background-color: #25354C;
        padding: 1rem 2rem;
        border: none;
        outline: none;
        cursor: pointer;
        color: white;
        font-family: inherit;
        font-size: 1.2rem;
        transition: all .4s ease-in-out;
        &:hover{
            background-color: #fff;
            color: black;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
        }
    }
}
